.center_login
{
  position: static;
  min-height: 350px;
}

.custum
{
  background-color: #4b4e50;
  border-color: #383838;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
color: #fff;
background-color: #747475 !important;
border-color: #122b40;
}
 p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: #989898;
}
